services:
  postgres-db:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_DB: testdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - demo-net
    labels:
      - "com.centurylinklabs.watchtower.enable=false"

  spring-app:
    image: sarwarxsami/demo-spring-app:latest
    container_name: spring-app
    ports:
      - "8080:8080"
    depends_on:
      - postgres-db
    networks:
      - demo-net
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30 --cleanup
    networks:
      - demo-net

volumes:
  postgres_data:

networks:
  demo-net:
    driver: bridge
